snippet pa
	package ${1}

snippet im
	import (
		"${1}"
	)

snippet main
	func main() {
		${1}
	}

snippet tef
	package ${1}

	import(
		. "launchpad.net/gocheck"
		"testing"
	)
	type ${2:}Suite struct {
	}

	var _ = Suite(&$2Suite{})

	${3}

snippet tf
	func (s *${1:`TestSuiteName()`}Suite) Test${2}(c *C) {
		${3}
	}
	
